<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CREAR USUARIOS</title>
</head>
<body>
    <h1>REGISTRAR NUEVO USUARIO</h1>
    <form method="POST" action="">
        <label for="txtuser">USUARIO</label>
        <input type="text" name="txtuser" required><br><br>
        <label for="txtclave">CONTRASEÑA</label>
        <input type="text" name="txtclave" required><br><br>
        <label for="txtrol">ROL</label><br><br>
        <select name="txtrol" >
            <option value="root">ROOT</option>
            <option value="admin">admin</option>
        </select><br><br>
        <input type="submit" value="REGISTRAR">
    </form>
</body>
</html>